.root {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px 60px;
  min-height: calc(100vh - 40px);
  position: relative;

  .header {
    padding-bottom: 32px;

    .title {
      font-size: 30px;
      font-weight: 700;
    }
  }

  .footer {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      color: #828282;
      text-decoration: none;
    }

    .copyright {
      font-size: 14px;
      line-height: 14px;
    }

    .developer {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
